.contact-section {
  background-image: linear-gradient(rgba(248, 249, 250, 0.9), rgba(248, 249, 250, 0.9)),
    url('../assets/taxi-service-contact-us.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact {
    padding: 20px;
    text-align: center;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  